body {
	overflow-x: hidden;
}

#hero {
	pointer-events: none;
	max-height: min(500px, calc(100vh - 200px));
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;

	video {
		height: auto;
		width: 100%;
	}

	.overlay {
		position: absolute;
		text-align: center;

		h1 {
			font-size: max(3vw, 30px);
			font-weight: 800;
		}

		p {
			font-size: max(1.3vw, 15px);
		}
	}
}

#scene {
	min-height: 60vh;
	display: flex;
	justify-content: right;
	align-items: center;
	background-color: var(--bs-secondary-bg-subtle);

	#controls {
		position: absolute;

		display: flex;
		flex-direction: row;

		align-items: center;

		& > button {
			background-color: var(--bs-tertiary-bg);
			border-radius: 10px 0 0 10px;
			height: fit-content;
			font-size: 30px;
		}

		#controls-collapse > div {
			background-color: var(--bs-tertiary-bg);
			border-radius: 10px 0 0 10px;
			padding: 10px 10px 10px 20px;

			display: flex;
			flex-direction: column;
			gap: 5px;
		}
	}
}

.img-half {
	max-width: 50%;
	width: auto;
}

.img-2 {
	max-height: 300px;
	width: auto;
}

.img-1 {
	max-height: 250px;
	width: auto;
}

h1 {
	border-bottom: 1px solid var(--bs-secondary-bg);
	padding-bottom: 5px;
}

sup a {
	text-decoration: none;
}

.shiki {
	padding: 10px;
	margin-bottom: 0;
}

[data-shiki] {
	background-color: var(--bs-primary-bg-subtle);
	border-radius: 10px;
	overflow: hidden;
	white-space: pre;
	margin-bottom: 1rem;
}

math {
	margin-bottom: 1rem;
}

.carousel-caption {
	position: unset !important;
	padding-top: 0.5rem !important;
	padding-bottom: 2.25rem !important;
}
