body {
	overflow-x: hidden;
}

#hero {
	pointer-events: none;
	max-height: min(500px, calc(100vh - 200px));
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;

	video {
		height: auto;
		width: 100%;
	}

	.overlay {
		position: absolute;
		text-align: center;

		h1 {
			font-size: max(3vw, 30px);
			font-weight: 800;
		}

		p {
			font-size: max(1.3vw, 15px);
		}
	}
}

#scene {
	min-height: 60vh;
	display: flex;
	justify-content: right;
	align-items: center;
	background-color: var(--bs-secondary-bg-subtle);

	#controls {
		position: absolute;

		display: flex;
		flex-direction: row;

		align-items: center;

		& > button {
			background-color: var(--bs-tertiary-bg);
			border-radius: 10px 0 0 10px;
			height: fit-content;
			font-size: 30px;
		}

		#controls-collapse > div {
			background-color: var(--bs-tertiary-bg);
			border-radius: 10px 0 0 10px;
			padding: 10px 10px 10px 20px;

			display: flex;
			flex-direction: column;
			gap: 5px;
		}
	}
}
